.logo {
	position: relative;


	&__image {
		width: 195px;
		height: 39px;
	}

	&__version {
		position: absolute;
		left: 199px;
		bottom: 7px;
		font-size: 10px;
		line-height: calc(15 / 10);
		color: #838383;
	}
}