.mobile-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 5;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 15px;
	background-color: $light_bg;
	border-bottom: 1px solid #eee;

	@media (min-width: 1440px) {
		display: none;
	}
}

.mobile-header__burger {
	display: flex;
	align-items: center;
	justify-content: center;

	svg {
		width: 25px;
		height: 25px;
		stroke: #000;
		fill: #000;
		transition: stroke $transition;
		pointer-events: none;
	}

	&:hover svg,
	&:focus svg {
		stroke: $accent_color;
	}
}