// Colors

$main_text_color: #292D32;
$text_dark: #000000;
$text_light: #9197B3;
$user__role: #757575;
$table_head_category: #B5B7C0;
$amount_per_page_info: #B5B7C0;

$accent_color: #5932EA;

$active_btn_text: #00B087;
$active_btn_bg: rgba(22, 192, 152, 0.38);
$active_btn_border: #00B087;

$inactive_btn_text: #DF0404;
$inactive_btn_bg: #FFC5C5;
$inactive_btn_border: #DF0404;

$main_bg_color: #FAFBFF;
$light_bg: #ffffff;

$nav_icon_color: #9197B3;

$pagination_btn_bg: #F5F5F5;


// Transition

$transition: 300ms linear;